@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@600&family=Ubuntu+Condensed&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
::selection{
    background: #eeeeee none repeat scroll 0 0;
    color: #777777;
}

::-moz-selection {
    background: #eeeeee none repeat scroll 0 0;
    color: #777777;
}

::-webkit-scrollbar-thumb {
    background-color:#BFA290;
    border-radius: 10px;
}

::-webkit-scrollbar{
    width:5px;
    height:0;
    background-color: transparent;
}

body{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    font-family: 'Oswald', sans-serif;
    font-weight:300;
}

a {
    color: #BFA290;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

/*  HEADER */

header{
    width: 100%;
    height: 80px;
    font-family: 'Oswald', sans-serif;
    position: fixed;
    top:0;
    right: 0;
    z-index: 100;
    background-color: #BFA290;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}

.container_header{
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.title{
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title img{
    margin: 5px;
    width: 70px;
    border-radius:40px;
    transition-duration: 0.5s;
}

.title img:hover{
    box-shadow: 5px 8px 26px currentcolor;
    cursor:pointer;
}

.title h5, .title h5 a {
    height:100%;
    display: flex;
    margin-right: 100px;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #FEE1D0;
    font-size: 25px;
    align-items:center;
}

header nav{
    display:flex;
}

header nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li{
    margin: 0px 20px;
    list-style: none;
}

header nav ul li a{
    color: #47525E;
    font-size: 25px;
}

header nav ul li a:hover{
    color: #F2ECE9;
}


@media screen and (max-width: 970px){
    header, .container_header {
        flex-direction: column;
    }

    .title h5, .title h5 a{
        margin-right:0;
    }
    header nav{
        background-color: #BFA290;
    }
}

@media screen and (max-width: 500px){
    header nav ul li a {
        font-size: 18px;
    }
}

/* PRIMERA SECCION */

.cover{
    width: 100%;
    padding-bottom: 60px;
    font-family: 'Ubuntu Condensed', sans-serif;
    margin-top: 100px;
}
.container_cover{
    max-width: 1100px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #FEE1D0;
    border-radius: 10px;
}

.container_info{
    max-width: 400px;
    margin-top: 40px;
    z-index: 2;
}

.cover h1, .cover h2{
    font-size: 80px;
    font-weight: 900;
}

.cover h1{
    color: #47525E;
}

.cover h2{
    color: #E18274;
    margin-top: -20px;
}

.cover p{
    margin: 10px 0px;
    font-size: 25px;
    color: #8190A5;
    font-family: 'Lato', sans-serif;
}
.cover-img {
    max-height: 400px;
    display: flex;
    width: auto;
    margin:auto;
    overflow: hidden;
}

.vector-img {
    border-radius: 10px;
    width: 600px;
}

@media (max-width: 1000px) {
    .cover {
        width: 90%;
        margin-top: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    .container_cover {
        flex-direction:column;
        justify-content: center;
    }
    .container_info {
        margin:auto;
    }
    .cover-img {
        margin-top: 20px;
    }
    .vector-img{
        width: 400px;
    }
}

@media (max-width: 500px) {
    .vector-img{
        width: 400px;
        margin-right: 5px;
    }
}

/* CUERPO */




/* FOOTER */
footer {
    position: relative;
    margin-top: 300px;
    bottom:0px;
    width:100%;
    background-color: #F2ECE9;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.footer-link{
    display:flex;
    align-items:center;
    justify-content: center;
    justify-items: center;
    color: #47525e;
    margin-right: auto;
    margin-left: auto;
}

.footer-link a{
    height:38px;
    width:38px;
    font-size: 30px;
    margin-right: 15px;
    border-radius: 40px;
    cursor:pointer;
    transition:all ease 0.5s;
    display:flex;
    align-items:center;
    justify-content: center;
}

.footer-link a:hover {
    background-color: #BFA290;
    color: #F5F5F5;
}

footer p {
    margin:auto;
    text-align:center;
    line-height: 1.6;
}

@media (max-width: 1110px){
    footer{
        margin-top: 300px;
    }
}

@media (max-width: 740px){
    footer{
        margin-top: 500px;
    }
}